.filters {
  background-color: #aa998f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0 10px;
}

.formMovie {
  display: flex;
  gap: 5px;
}

.inputMovie {
  border-radius: 5px;
}

.select {
  border-radius: 5px;
}
