

.filters {
    background-color:#AA998F;
    display: flex;
    justify-content: center;
   
}

.formMovie{
    

}

.inputMovie{
    border-radius: 5px;
}

.select{
    border-radius: 5px;
}