.item {
  color: #7d4f50;
  text-decoration: none;
}

.image {
  width: 180px;
  border-radius: 10px;
  border: 2px solid black;
  margin-top: 20px;
}

.moreInfo {
  border: 2px solid black;
  border-radius: 5px;
  background-color: #7d4f50;
  margin: 10px 0;

  &__infoLink {
    text-decoration: none;
    color: #d1be9c;
    padding: 0 10px;
  }
}
