.sectionList {
  width: 100vw;

  &__movieContainer {
    padding: 30px 10px 30px 10px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    background-color: #d1be9c;
    justify-items: center;

    @media all and (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media all and (min-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  &__movieList {
    background-color: #d1be9c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    list-style: none;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    color: #7d4f50;
  }
}
