// @import "core/variables";
// @import "core/reset";
// @import "core/global";

@import "components/Filters";
@import "components/MovieSceneList";
@import "components/MovieSceneItem";
@import "components/MovieSceneDetail";

// Estilos para mensaje de error

.errorMessage {
  background-color: #d1be9c;
  text-align: center;
  height: 100vh;
  padding-top: 20px;
}
